<div class="container-fluid m-0 p-0 own-bg shadow">
  <nav class="navbar navbar-expand-lg ms-lg-3 ms-md-3 ms-sm-3 me-lg-3 me-md-3 me-sm-3">
      <a  class="navbar-brand">
         <img class="logo-shadow rounded border border-2 border-white shadow" [src]="selectedLogo ? selectedLogo : 'https://miro.medium.com/v2/resize:fit:900/1*kMEA6b4b-gZoGwTgO3DZPQ.png'" style="width: 180px; height: 60px;">
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="true">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse show " id="navbarCollapse">
          <ul class="navbar-nav ms-auto manu-ul">
              <li class="nav-item " > <a routerLink="" href="" class="nav-link fw-bold text-white rounded border border-2 border-white"> Home</a></li>
              <li class="nav-item " > <a routerLink="/contact" href="" class="nav-link fw-bold text-white rounded border border-2 border-white"> Blog!</a></li>
              <li class="nav-item " > <a routerLink="/contact" href="" class="nav-link fw-bold text-white rounded border border-2 border-white"> Services</a></li>
              <li class="nav-item " > <a routerLink="/contact" href="" class="nav-link fw-bold text-white rounded border border-2 border-white"> Booking</a></li>
              <li class="nav-item " > <a routerLink="/contact" href="" class="nav-link fw-bold text-white rounded border border-2 border-white"> Our Team</a></li>
              <li class="nav-item " > <a routerLink="/contact" href="" class="nav-link fw-bold text-white rounded border border-2 border-white"> Products</a></li>
              <li class="nav-item " > <a routerLink="/contact" href="" class="nav-link fw-bold text-white rounded border border-2 border-white"> About-Us</a></li>
              <li class="nav-item " > <a routerLink="/contact" class="nav-link fw-bold text-white rounded border border-2 border-white"> Contact-Us</a></li>
          </ul>
      </div>
  </nav>
</div>