.own-bg{
    /* background-color: #1b2956; */
    background-color: #2595d6;
    background-image: linear-gradient(250deg, #0093E9 0%, #80D0C7 100%);
    
    }
.manu-ul {
display:flex;
 gap: 11px;
}

    
@media (max-width: 890px) {
    .nav-item a{
border: none;
    }
}
  