
<div class="container-fluid footer own-bg text-light footer py-5">
    <div class="container p-0">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <!-- <h4 class="text-white mb-2">Bhole Daily Needs</h4> -->
                <img class="img-fluid mb-4 ms-0 bg-white rounded" [src]="" style="width: 250px; height: 55px;">
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i><b>Avinash Park G.E Road Raipur<br>Chhatisgarh,492001.</b></p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><b><a class="text-white text-decoration-none" href="tel:+918103199911">+91-8103199911</a></b></p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i><b><a class="text-white text-decoration-none" href="mailto:info@cbktechnologies.com">info&#64;cbktechnologies.com</a></b></p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Our Services</h4>
                <a class="btn btn-link text-white fw-bold text-decoration-none" href="#">Mobile Banking</a>
                <a class="btn btn-link text-white fw-bold text-decoration-none" href="#">Digital Payments</a>
                <a class="btn btn-link text-white fw-bold text-decoration-none" href="#">Bill Payments</a>
                <a class="btn btn-link text-white fw-bold text-decoration-none" href="#">Mobile Recharge</a>
                <a class="btn btn-link text-white fw-bold text-decoration-none" href="#">Photo Copy</a>
                <a class="btn btn-link text-white fw-bold text-decoration-none" href="#">Money Transfer</a>
                <a class="btn btn-link text-white fw-bold text-decoration-none" href="#">Sim Activation</a>
                <a class="btn btn-link text-white fw-bold text-decoration-none" href="#">FASTag Recharge</a>
                <a class="btn btn-link text-white fw-bold text-decoration-none" href="#">New PAN Card</a>
            </div>
            <div class="col-lg-2 col-md-6">
                <h4 class="text-white mb-4">Quick Links</h4>
                <a class="btn btn-link fw-bold text-decoration-none text-white" href="#">About-Us</a>
                <a class="btn btn-link fw-bold text-decoration-none text-white" href="#">Contact-Us</a>
                <a class="btn btn-link fw-bold text-decoration-none text-white" href="#">Our Services</a>
                <a class="btn btn-link fw-bold text-decoration-none text-white" href="#">Our Products</a>
                <a class="btn btn-link fw-bold text-decoration-none text-white" href="#">Privacy &amp; Policy</a>
            </div>
            <div class="col-lg-3 col-md-6 mb-0 pb-0">
                <h4 class="text-white mb-4">News Letter</h4>
                <p><b>Keep Up Our Latest News And Events</b></p>
                <div class="position-relative w-100 m-0 p-0 border border-white rounded">
                    <input class="form-control bg-white border-0 w-100 py-2 ps-4 pe-5" type="text" placeholder="Enter Your email">
                    <button type="button" class="btn btn-warning py-2 position-absolute top-0 end-0 text-white"><b>Send</b></button>
                </div> 
                <div class="m-0 pt-1 p-0 text-center">
                   <a href="#"> <img class="img-fluid p-0 m-0 bg-transparent m-0 p-0"src="https://www.freepnglogos.com/uploads/play-store-logo-png/play-store-logo-nisi-filters-australia-11.png" ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid copyright py-2 fw-bold bg-dark shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-white text-md-start mb-3 mb-md-0">
                © All Right Reserved By. <a href="https://www.cbktechnologies.com" class="text-decoration-none text-info">CBK Online Services</a>
            </div>
            <div class="col-md-6 text-center text-white text-md-end">
                <!--/* This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. */-->
                Designed By Mr. <a class="text-decoration-none text-info" href="https://www.linkedin.com/in/lomashrishi">&#64;LomashRishi</a>
            </div>
        </div>
    </div>
</div>
  <!-- close -->