<app-top-nav></app-top-nav> 
<app-main-manu></app-main-manu>
<app-top-slider></app-top-slider>


<!-- Start New Swekshanudan Form -->
<div class="container mt-5 bg-light p-5 ">
    <h4 class="text-center fw-bolder text-primary mb-3" >Register New Swekshanudan</h4>
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 align-content-center">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="aavedak"
                    placeholder="आवेदक का नाम" required>
                <label for="aavedak">आवेदक का नाम <span class="text-danger">*</span> </label>
            </div>
            
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="mobile"
                    placeholder="आवेदक का फ़ोन नंबर" required>
                <label for="mobile">आवेदक का फ़ोन नंबर <span class="text-danger">*</span></label>
            </div>
           
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="post"
                    placeholder="पद का नाम" required>
                <label for="post">पद का नाम <span class="text-danger">*</span> </label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-6">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <select class="form-select" id="vidhansabha">
                    <!-- <option selected>विधानसभा चुनें </option> -->
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="vidhansabha">विधानसभा का नाम चुनें <span class="text-danger">*</span></label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-6">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <select class="form-select" id="vikaskhand">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="vikaskhand">विकासखंड का नाम चुनें <span class="text-danger">*</span> </label>
            </div>
        </div>                            
    </div>

    <div class="col-lg-6">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <select class="form-select" id="sector">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="sector">सेक्टर का नाम चुनें <span class="text-danger">*</span> </label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-6">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <select class="form-select" id="panchayt">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="panchayt">ग्राम पंचायत का नाम चुनें <span class="text-danger">*</span> </label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-6">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <select class="form-select" id="gram">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="gram">ग्राम का नाम चुनें <span class="text-danger">*</span></label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-8">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="vishay"
                    placeholder="विषय" required>
                <label for="vishay">विषय का नाम <span class="text-danger">*</span> </label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-4">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="dwara"
                    placeholder="द्वारा" required>
                <label for="dwara">द्वारा <span class="text-danger">*</span> </label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-4">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="rashi"
                    placeholder="आपेक्षित राशि" required>
                <label for="rashi">आपेक्षित राशि <span class="text-danger">*</span> </label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-4">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="aavedan-date"
                    placeholder="आवेदन दिनांक" required>
                <label for="aavedan-date">आवेदन दिनांक <span class="text-danger">*</span> </label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-4">
        <div class="form-group shadow">
            <div class="form-floating mb-3 ">
                <input type="file" class="form-control bg-white" title="Hii" id="file"
                    placeholder="फाइल अपलोड करें" required>
                <label for="file">फाइल अपलोड करें <span class="text-danger">*</span> </label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-12">
        <div class="form-group shadow">
            <div class="form-floating mb-3">
                    <textarea class="form-control" id="comment" placeholder="टिप्पणी" required 
                    style="height: 150px;"></textarea>
                <label for="comment">टिप्पणी <span class="text-danger">*</span> </label>
            </div>
        </div>                            
    </div>
    <div class="col-lg-12 text-center">
        <div class="form-group">
            <button  class="col-12 text-white btn  text-center shadow" type="button" style="background-color:#4ac387;"><b>Submit</b></button>                                     
        </div>                            
    </div>
            
    <!--  -->
</div>
</div>
<!-- New Swekshanudan close -->

<app-footer></app-footer>
