
    <div class="container-fluid topnavbar m-0 border-bottom-2 border-dark own-bg">
        <div class="row p-0">
                <ul class="nav col-lg-6 col-md-6 d-flex justify-content-lg-start  left-link">
                    <li class="top-li">
                    <a  class="nav-link text-white" href="https://www.cbktechnologies.com/"
                          target="_blank" rel="noopener noreferrer"><i class="bi bi-geo-alt-fill"></i> <b> G.E Road Raipur</b>
                        </a>
                    </li>

                    <!-- second link -->
                    <li class="top-li">
                        <a class="nav-link text-white " href="https://"
                        target="_blank" rel="noopener noreferrer"><i class="bi bi-stopwatch-fill"></i> <b> 10:30 AM To 7:30 PM</b>
                      </a>
                    </li>

                    <!-- For Right Side Link  -->
              
                    <!-- second link -->
                </ul>
                <ul class="nav col-lg-6 col-md-6 d-flex justify-content-lg-end right-link">
                <!-- 1 link  -->
                      <li class="top-li">
                        <a  class="nav-link text-white " href="mailto:cbk@gmail.com"
                              target="_blank" rel="noopener noreferrer"><i class="bi bi-envelope-at-fill"></i> <b> info&#64;cbktechnologies.com</b>
                            </a>
                        </li>
    
                        <!-- second link -->
                        <li class="top-li">
                            <a class="nav-link text-white " href="tel:+918103199911"
                            target="_blank" rel="noopener noreferrer"><i class="bi bi-telephone-outbound-fill"></i> <b>+91-8103199911</b>
                          </a>
                        </li>
                </ul>
            </div>
        </div>
